<style type="text/css" media="screen">
    .post-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    </style>
    
    <div class="post-menu">
      <div class="post-menu-title"></div>
      <div class="post-menu-content"></div>
      <img src="/assets/images/banners/about3.jpg">
    </div>
    
    <script>
      function generateContent() {
        var menu = document.querySelector(".post-menu");
        var menuContent =  menu.querySelector(".post-menu-content");
        var headings = document.querySelector(".post-content").querySelectorAll("h2, h3, h4, h5, h6");
    
        // Hide menu when no headings
        if (headings.length === 0) {
          return menu.style.display = "none";
        }
    
      }